{% extends 'base.html.twig' %}

{% block title %}Historial de Precios{% endblock %}

{% block body %}
<div class="price-history-chart-wrapper">
    <h2>Historial</h2>
    <div data-controller="highcharts" id="pricehistorychart" style="height: 450px; margin: 0 auto"></div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function(){
        // the false param is to render without a wrapper function
        {{ chart(chart, false) }}
    });
  </script>
 {% endblock %}