{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyConverterController!{% endblock %}

{% block body %}


<div class="currency-converter" {{ stimulus_controller('currency-converter') }}>
</div>
{% endblock %}
