h2 {
  margin: 0;
  line-height: 0.8em;
}

.collapse {
  margin: 0 0 1.5em 0;
}

.collapse-wrapper {
  overflow: hidden;
  transition: height 300ms ease-in;
}

.price-today-change {
  font-size: 0.8em !important;
}

.calculation-note {
  font-size: 0.9em !important;
}

/* loading dots */

.loading-dots:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* GH Corner fix */

a.github-corner {
  border-bottom: inherit;
  position: inherit;
}

.modal__close {
  z-index: 5;
}

/* Chart page */
@media screen and (max-width: 736px) {
  .price-history-chart-wrapper {
    bottom: 60px;
  }
}

.price-history-chart-wrapper h2 {
  margin: 0;
}

/* Fontawesome icons size fix */
#footer i.fas {
  font-size: 1.25em;
}
